# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env

# Pytest / Test Artifacts
.pytest_cache/
.coverage
htmlcov/

# Streamlit Secrets
.streamlit/secrets.toml

# OS Specific
.DS_Store
Thumbs.db
